<template>
  <div id="app">
    <img src ="./assets/header.png" alt = "" style="width:100%"/>
    <button @click="login" type="button" v-if="!user">Login with Microsoft</button>
    <!-- <button @click="getName" type="button" v-if="user">
      Call get Name
    </button> -->
    <button @click="logout" type="button" v-if="user">
      Logout
    </button>
    <h3 v-if="user">Hello {{ user.name }}</h3>
    <pre>{{ JSON.stringify(userInfo, null, 4) }}</pre>


    <p v-if="loginFailed">Login unsuccessful</p>
    <p v-if="apiCallFailed">Graph API call unsuccessful</p>
    <img src ="./assets/footer.png" alt = "" style="width:100%"/>
  </div>

</template>

<script>
import AuthService from './services/auth.service';
import GraphService from './services/graph.service';

export default {
  name: 'app',
  data() {
    return {
      user: null,
      userInfo: null,
      userSearch: null,
      apiCallFailed: false,
      loginFailed: false,
    }
  },
  created() {
    this.authService = new AuthService();
    this.graphService = new GraphService();
  },
  mounted() {
    let account = this.authService.getAccount();
    if(account){
      this.user = account;
      this.getUserInfo();

    }
  },
  methods: {
    getUserInfo() {
      this.apiCallFailed = false;
      this.authService.getToken().then(
        token => {
          this.graphService.getUserInfo(token).then(
            data => {
              this.userInfo = data;
            },
            () => {
              this.apiCallFailed = true;
            }
          );
        },
      () => {
          this.apiCallFailed = true;
        }
      );
      this.getUserSearch()
    },
    getUserSearch() {
      this.apiCallFailed = false;
      this.authService.getToken().then(
        token => {
          this.graphService.getUserSearch(token).then(
            data => {
              this.userSearch = data;
            },
            () => {
              this.apiCallFailed = true;
            }
          );
        },
      () => {
          this.apiCallFailed = true;
        }
      );
    },

    logout() {
      this.authService.logout();
    },
    login() {
      this.loginFailed = false;
      this.authService.login().then(
        user => {
          if (user) {

            this.user = user;
          } else {

            this.loginFailed = true;
          }
        },
        () => {

          this.loginFailed = true;
        }
      );
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
button {
  margin: 15px;
}